<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel='stylesheet' href='/css/bundle.css'>
    <link rel="icon" type="image/png" href="assets/img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="assets/img/favicon-16x16.png" sizes="16x16" />
    <script src="js/jquery.min.js"></script>
    <script src="js/bundle.js"></script>
  </head>
  <body>
    <header class="shadow">
      <h1 class="center"><%= title %></h1>
    </header>
    <section class="record-box">
      <div class="record block-center shadow circle">
        <div class="ring-container spin">
          <% for (let i = 1; i < 8; i++) {%>
            <div class="ring<%= i %> border-box circle"></div>
          <% } %>
          <div class="inner border-box circle"></div>
          <div class="dot circle"></div>
         </div>
      </div>
    </section>
    <section class="controls center">
      <img id="play" class="btn" src="assets/img/play.png" alt="play" >
      <img id="pause" class="btn no-display" src="assets/img/pause.png" alt="pause">
      <img id="skip" class="btn" src="assets/img/skip.png" alt="skip">
    </section>
    <section>
      <div class="current-song block-center center">
         <h4></h4>
      </div>
    </section>
    <section class="add-btn center">
      <button type="button" id="add-song-btn" class="btn">Add Song</button>
    </section>
    <section class="add-song center">
      <h3>Artists</h3>
      <ul class="artist-list block-center"></ul>
    </section>
    <section id="queue">
      <h3 class="center">Queue</h3>
      <div class="queue-list block-center"></div>
    </section>
  </body>
</html>
