<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/normalize.css'>
    <link rel='stylesheet' href='/css/style.css'>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300,400" rel="stylesheet">
    <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16" />
    <script async src="/js/jquery.min.js"></script>
    <script async src="/js/main.js"></script>
  </head>
  <body>
    <div class="header shadow">
      <h1><%= title %></h1>  
    </div>
      <div class="record-box">
        <div class="record shadow">
          <div class="ring-container">
            <div class="ring">
            </div>
            <div class="ring2">
            </div>
            <div class="ring3">
            </div>
            <div class="ring4">
            </div>
            <div class="ring5">
            </div>
            <div class="ring6">
            </div>
            <div class="ring7">
            </div>
            <div class="inner">
            </div>
            <div class="dot">
            </div>
           </div>
        </div>
      </div>
    <div class="section">
      <div class="section current-song">
        <h4>Style - Taylor Swift - 1989</h4>
      </div>
    </div>
    <div class="section add-btn">
      <button type="button" id="add-song-btn">Add Song</button>
    </div>
    <div class="section add-song">
      <h3>Artists</h3>
      <ul class="artist-list">
        
      </ul>
    </div>
    <div class="section queue">
      <h3>Queue</h3>
      <div class="queue-list">
        <div class="song-box">
          
        </div>
        <div class="song-box">
          
        </div>
        <div class="song-box">
          
        </div>
        <div class="song-box">
          
        </div>
        <div class="song-box">
          
        </div>
        <div class="song-box">
          
        </div>
      </div>
    </div>
  
  </body>
</html>
